.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.EnterPaper__Alfs{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 70%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
